@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

  .example {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
body{
    background-color: #1d1d1d;
    font-family: 'Titillium Web', regular;
    color: #ffffff;
}
::-webkit-scrollbar {
    display: none;
  }