.profile-form{
    width: 300px;
    margin: 17vh auto;
    padding: 20px;
    text-decoration: #fff;
    color: #dddddd;
}
.profile-form h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bold;
}
.profile-form>input{
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    transition: border 0.2s ease-in-out;
    background-color: #222222;
    color: #fff;
}
.profile-form input:focus{
    border: 1px solid #555;
    outline: none;
}
.profile-form button{
    width: 100%;
    background-color: #222222;
    color: #fff;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    border: 1px #fff solid;
    transition: background-color 0.2s ease-in-out;
}
.profile-form>button:hover{
    background-color: #555;
}
.profile-form>button:active{
    background-color: #333;
}
