.home{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}
.post-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:70px;
    cursor: pointer;
}
.post{
    width: 40vw;
    background-color: #212529;
    margin-bottom: 2vh;
    padding: 15px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; 
}
img{
    width: 2.4vw;
    height: 2.4vw;
}

@media (max-width: 767px) {
    .post{
        width: 80vw;
    }
    .home{
        margin-top: 10vh;
    }
    img{
        width: 11vw;
        height: 11vw;
    }
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user h3{
    margin-left: 10px;
}