.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
}
.post-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:30px;
    border-radius:10%;
    background-color: white;
    border: white;
}
.post{
    width: 40vw;
    background-color: #212529;
    margin-bottom: 2vh;
    padding: 15px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
}
img{
    width: 20px;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user h3{
    margin-left: 10px;
}