.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.popup-inner{
    width:30%;
    height: 40%;
    background-color:#fff;
    border-radius:10px;
    padding:20px;
    position:relative;
}

.popup-close{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
.submit{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor : pointer;
    background-color: black;
    color: white;
}
.content{
    width: 80%;
    height: 60%;
    resize: none;
    word-wrap:break-word;
    display:inline-block;
    border: 2.5px black solid;
}
.popup-inner>h2{
    color: #000;
    margin-top: 0;
}
@media (max-width: 767px) {
    .popup-inner{
        width:80%;
        height: 60%;
    }
    .content{
        width: 80%;
        height: 60%;
    }
}