.profile{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-card{
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: white;
    margin-bottom: 2vh;
    border: 2px solid white;
}
.username-pic{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.username{
    font-size: 2.5vh;
    margin-left: 2%;
}
.username-pic>img{
    margin-left: 2%;
}

@media(max-width:787px){
.profile-card{
    width: 80%;
    height: 60%;
    margin-top: 3vh;
}
}
.bio{
    margin-left: 3%;
    margin-top: 0vh;
}